@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #424242;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Girassol', sans-serif;
}
.card{
    height: 270px;
    min-width: 250px;
    width: 470px;
    background: linear-gradient(45deg, #0c0200, #2f3131);
    border-radius: 10px;
    position: relative;
    color: white;
    padding: 20px;
}
.container p{
    width: 200px;
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
}
.container h1{
    color: #e5aa1d;
    transition: 0.2s;
}
.container a{
    text-decoration: none;
    color: black;
    background-color: #e5aa1d;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    margin-top: 20px;
    transition: 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
}
.card img{
    height: 370px;
    max-width: 100%;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}
.card:hover img{
    position: absolute;
    left: 84%;
    height: 420px;
}
.card:hover h1{
    font-size: 40px;
    letter-spacing: 2px;
}
.card:hover p, .card:hover a{
    opacity: 1;
}